body{
background-image: url(imagens/SmartSelect_20240919_110351_Samsung\ Notes.jpg);
background-size: cover;
background-repeat: no-repeat;
}

#logo{
    
    width: 200px;
    height: 30px;

}
header{
    display: flex;
    justify-content: space-between;
}

#login{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
#registro{
    background-color: white;
    width: 10px;
    height: 15px;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
}
#cx1{
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 20px;
}
#cx2{

}
div a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}
